<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skbankofbareilly.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sk_bank_logo_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sk_bank_logo_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.SKBankOfBareilly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SKBank.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.OtpVerificationActivity" android:exported="false" />
        <activity android:name=".ui.auth.OpenAccountActivity" android:exported="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity android:name=".ui.banking.AccountDetailsActivity" android:exported="false" />
        <activity android:name=".ui.banking.TransactionDetailsActivity" android:exported="false" />
        <activity android:name=".ui.banking.FdDetailsActivity" android:exported="false" />
        <activity android:name=".ui.banking.LoanApplicationActivity" android:exported="false" />
        <activity android:name=".ui.banking.LoanDetailsActivity" android:exported="false" />

        <activity android:name=".ui.paymentbank.QRScannerActivity" android:exported="false" />
        <activity android:name=".ui.paymentbank.PaymentReceiptActivity" android:exported="false" />

    </application>

</manifest>
