<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skbank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sk_bank_logo"
        android:label="SK Bank of Bareilly"
        android:roundIcon="@drawable/sk_bank_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SKBank">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SKBank.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

    </application>

</manifest>
